*, *:before, *:after {
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
html{
  font-size: 62.5%;
}

.wrapper{
  margin: 0 auto;

}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(197, 163, 134, 1);
  padding-left: 2em;
}


nav{
  margin: 4em;
}
nav ul{
  list-style-type: none;
  display: flex;
  gap: 4em;
  margin: 0;
}

nav ul li a{
  text-decoration: none;
  font-size: 2rem;
  color: white;
  font-family: "arsenal", sans-serif;
}

body {
 overflow: auto;
 font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
 font-weight: 100;
 color: rgba(54, 47, 39,1);
 margin: 0;
 padding: 0;
 background: #F0E7DD;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 
}

.buffer{
  margin: 4em;
}


#calendar {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 42.0em;
  margin: 0 auto;
  height: 57.0em;
  overflow: hidden;
}

.header {
  height: 5em;
  width: 42em;
  color:#F4F3F1;
  border-radius: 12px 12px 2px 2px;
  background: rgba(197, 163, 134, 1);
  text-align: center;
  position:relative;
  z-index: 100;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 2.0rem;
  line-height: 50px;
  font-weight: 100;
  letter-spacing: 1px;
  font-family: "arsenal", sans-serif;
}

.left, .right {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  top: 50%;
  margin-top: -7.5px;
  cursor: pointer;
}

.left {
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent rgba(244, 243, 241,1) transparent transparent;
  left: 20px;
}

.right {
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent rgba(244, 243, 241,1);
  right: 20px;
}

.month {
  /*overflow: hidden;*/
  opacity: 0;
}

.month.new {
  -webkit-animation: fadeIn 1s ease-out;
  opacity: 1;
}

.month.in.next {
  -webkit-animation: moveFromTopFadeMonth .4s ease-out;
  -moz-animation: moveFromTopFadeMonth .4s ease-out;
  animation: moveFromTopFadeMonth .4s ease-out;
  opacity: 1;
}

.month.out.next {
  -webkit-animation: moveToTopFadeMonth .4s ease-in;
  -moz-animation: moveToTopFadeMonth .4s ease-in;
  animation: moveToTopFadeMonth .4s ease-in;
  opacity: 1;
}

.month.in.prev {
  -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
  -moz-animation: moveFromBottomFadeMonth .4s ease-out;
  animation: moveFromBottomFadeMonth .4s ease-out;
  opacity: 1;
}

.month.out.prev {
  -webkit-animation: moveToBottomFadeMonth .4s ease-in;
  -moz-animation: moveToBottomFadeMonth .4s ease-in;
  animation: moveToBottomFadeMonth .4s ease-in;
  opacity: 1;
}

.week {
 background: #F4F3F1;
}

.day {
  display: inline-block;
  width: 60px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background: #F4F3F1;
  position: relative;
  z-index: 100;
}

.day.other {
 color: rgba(113, 106, 100, 0.7);
}

.day.today {
  color: rgba(156, 202, 235, 1);
}

.day-name {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: rgba(113, 106, 100, 0.8);
  letter-spacing: .7px;
}

.day-number {
  font-size: 2.4rem;
  letter-spacing: 1.5px;
}


.day .day-events {
  list-style: none;
  margin-top: 3px;
  text-align: center;
  height: 12px;
  line-height: 6px;
  overflow: hidden;
}

.day .day-events span {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 5px;
  line-height: 5px;
  margin: 0 1px;
}

.blue { background: rgba(156, 202, 235, 1); }
.orange { background: rgba(247, 167, 0, 1); }
.green { background: rgba(153, 198, 109, 1); }
.yellow { background: rgba(249, 233, 0, 1); }
.red { background: rgba(225, 53, 53, 1); } 
.purple { background: rgba(159, 90, 253, 1);}
.teal { background: rgba(0, 128, 128, 1); }
.pink { background: rgba(255, 182, 193, 1); }

.details {
  position: relative;
  width: 420px;
  height: 75px;
  background: rgb(197, 163, 134);
  margin-top: 5px;
  border-radius: 6px;
}

.details.in {
  -webkit-animation: moveFromTopFade .5s ease both;
  -moz-animation: moveFromTopFade .5s ease both;
  animation: moveFromTopFade .5s ease both;
}

.details.out {
  -webkit-animation: moveToTopFade .5s ease both;
  -moz-animation: moveToTopFade .5s ease both;
  animation: moveToTopFade .5s ease both;
}

.arrow {
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -2px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent rgba(197, 163, 135,1) transparent;
  transition: all 0.7s ease;
}

.events {
  height: 75px;
  padding: 7px 0;
  overflow-y: auto;
  overflow-x: hidden;
  color: rgba(244, 243, 241, 1);
}

.events.in {
  -webkit-animation: fadeIn .3s ease both;
  -moz-animation: fadeIn .3s ease both;
  animation: fadeIn .3s ease both;
}

.events.in {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;
}

.details.out .events {
  -webkit-animation: fadeOutShrink .4s ease both;
  -moz-animation: fadeOutShink .4s ease both;
  animation: fadeOutShink .4s ease both;
}

.events.out {
  -webkit-animation: fadeOut .3s ease both;
  -moz-animation: fadeOut .3s ease both;
  animation: fadeOut .3s ease both;
}

.event {
  font-size: 1.6rem;
  line-height: 22px;
  letter-spacing: .5px;
  padding: 2px 16px;
  vertical-align: top;
}

.event.empty {
  color: #eee;
}

.event-category {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin: 6px 0 0;
  vertical-align: top;
}

.event span {
  display: inline-block;
  padding: 0 0 0 7px;
}

.legend {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: rgba(197, 163, 135,1);
  line-height: 30px;
  border-radius: 2px 2px 13px 13px;
  color:#F4F3F1;
}

.entry {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 1.3rem;
  display: inline-block;
  line-height: 30px;
  background: transparent;
}

.entry:after {
  position: absolute;
  content: '';
  height: 5px;
  width: 5px;
  top: 12px;
  left: 14px;
}

.entry.blue:after { background: rgba(156, 202, 235, 1); }
.entry.orange:after { background: rgba(247, 167, 0, 1); }
.entry.green:after { background: rgba(153, 198, 109, 1); }
.entry.yellow:after { background: rgba(249, 233, 0, 1); }
.entry.red:after { background: rgba(225, 53, 53, 1); } /* Red */
.entry.purple:after { background: rgba(159, 90, 253, 1); } /* Purple */
.entry.teal:after { background: rgba(0, 128, 128, 1); }
.entry.pink:after { background: rgba(255, 182, 193, 1); }

/* Animations are cool!  */
@-webkit-keyframes moveFromTopFade {
  from { opacity: .3; height:0px; margin-top:0px; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTopFade {
  from { height:0px; margin-top:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveFromTopFade {
  from { height:0px; margin-top:0px; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFade {
  to { opacity: .3; height:0px; margin-top:0px; opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveToTopFade {
  to { height:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveToTopFade {
  to { height:0px; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}
@keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}

@-webkit-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}
@keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}

@-webkit-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}
@keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}

@-webkit-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}
@keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}

@-webkit-keyframes fadeIn  {
  from { opacity: 0; }
}
@-moz-keyframes fadeIn  {
  from { opacity: 0; }
}
@keyframes fadeIn  {
  from { opacity: 0; }
}

@-webkit-keyframes fadeOut  {
  to { opacity: 0; }
}
@-moz-keyframes fadeOut  {
  to { opacity: 0; }
}
@keyframes fadeOut  {
  to { opacity: 0; }
}

@-webkit-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
@-moz-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
@keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}




nav ul li, .sitelogo {
    animation: seeIn 1.2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    animation-delay: 0.3s; 
    opacity: 0;
    transform: scale(0.9);
}

@keyframes seeIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}



#derrick {
  stroke-dasharray: 692.5;
  stroke-dashoffset: 629.5;
  animation: sign 3.7s ease;
  animation-fill-mode: forwards;
}



@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.2rem;
  background-color: rgba(197, 163, 134, 1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.igso {
  width: 2.5em;
  height: 2.5em;
  margin-left: 1.4em;
}

.my_name {
  font-size: 2.6rem;
  font-family: "Arsenal", sans-serif;
  color: #eee;
}

.hero_section {
  margin-left: 2em;
  max-width: 15em;
  font-size: 4.5rem;
  font-family: "Arsenal", sans-serif;

}



.about_div {
  margin-left: 6em;
max-width: 75em;
display: flex;
align-items: center;
margin: 0 auto;

}
.about {
  
  font-size: 6rem;
  font-family: "Arsenal", sans-serif;
  justify-content: center;
  display: flex;

}

@media screen and (max-width: 740px) {
  .about {
    font-size: 3rem; 
    max-width: 14em;
  }
}


@media only screen and (max-width: 43rem) {
  /* at 430px */
  .hero_section {
    font-size: 2.4rem; 
    max-width: 14em;
  }
  #calendar {
    scale: 0.8;  
  }
  nav ul li a {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 37rem) {
    /* at 370px */
  #calendar {
    scale: 0.7; 
    margin: 0 0 0 -2rem;
    position: relative;
    top: -60px;
  }
  nav ul li a {
    font-size: 1.3rem;
  }
  .full-width-container{
    height: 50em;
    overflow: hidden;
  }
}

@media only screen and (max-width: 24rem) {
  /* at 240px */
  #calendar {
    scale: 0.62;  
    margin: 0 0 0 -3rem;
    position: relative;
    top: -100px;
  }
  nav ul li a {
    font-size: 1.2rem;
  }
  .buffer {
    margin: 0em;
  }
  .hero_section {
    font-size: 2.2rem;
  }
  .full-width-container{
    height: 45em;
    overflow: hidden;
  }
}


@media only screen and (max-width: 20rem) {
  /* at 200px */
  #calendar {
    scale: 0.5;  
  }
  nav ul li a {
    font-size: 1rem;
  }
  
}


.full-width-container {
  width: 100%;
  overflow-x: hidden;
}
